img{
    width: 50px;
    float: left;
}

.ul_first li,
.ul_sec li{
    color: blue;
}

.ul_first li:first-child{
    color: violet;
}

#footer a{
    color: blue;
    border-right: 1px solid black;
    padding-right: 4px;
}

#footer{
    margin-top: 32px;
}

#footer a:last-child{
    border: 0px;
}

#content{
    width: 400px;
    margin: auto;
    box-shadow: 0 0  10px black;
    padding: 8px;
}