*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clear::after {  
    content: "";  
    clear: both;  
    display: table;
}


#bai_a td{
    width: 100px;
    height: 100px;
    text-align: center;
    border:2px solid rgb(237,176,121);
}

#bai_a tr{
    margin: -4px;
    background-color: rgb(245,198,157);
    font-size: 14px;
}

#bai_a table{
    border: 5px solid rgb(245,198,157);
    margin: auto;
    margin-top: 25%;
    transform: translateY(-50%);
    box-shadow: 0 0 10px  ;
    background-color: rgb(245,198,157);;
}

#bai_b table{
    border: 1px solid black;
    clear: both;
}

#bai_b tr{
    clear: both;
    border: 1px solid black;
    
}

#bai_b td{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.white{
    background-color: white;
}

.width{
    width: 0px;
}

#box1 .cell td{
    padding: 12px 8px;

}

#bai_b>table{
    display: inline-block;
    background-color: orange;
}

#bai_b>table td{
    color: red;
}

#bai_b>table tr:first-child td{
    color: black;
}


#box1,
#box2{
    display: inline-block;
    width: 250px;
    height: 150px;
    box-shadow: 0 0 10px black ;
}

#box1,
#box2,
#bai_b>table{
    float: left;
    margin-left: 24px;
}

#bai_c table,
#bai_c td{
    border: 1px black solid;
}

#bai_c table{
    margin: auto;
    background-color: violet;
    text-align: center;
}

#bai_c table tr:first-child{
    background-color: RGB(225 52 239);
    
}

#bai_c table tr td:first-child{
    background-color: aqua;
    padding: 4px;
}

#bai_c table tr:first-child td:first-child{
    background-color: violet;
}

#bai_c table tr:first-child td{
    text-decoration: underline;
}

#bai_c{
    margin: auto;
    background-color: orange;
    width: 400px;
    height: 200px;
    margin-top: 24px;
}

#bai_c caption{
    color: RGB(225 52 239);
    font-size: 14px;
    padding-top: 4px;
}